/* .header{
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;

}

.main ul{
  display: flex;
  float: right;

}

.main li{
  padding: 10px;
  list-style-type: none;

} */